<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			 layout:decorate="~{layouts/admin.html}">
<head >
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script >
		$(document).ready(function(){
			$('#theater').on('change',function(){		
					var categoryId = $(this).val();
					/* alert(categoryId); 	 */
					 $.ajax({
						type:'GET',
						url: '/schedules/loadRoomByTheater/' + categoryId,
						success: function(result){
							var result = JSON.parse(result);
							var s ='';
							for(var i = 0; i < result.length ; i++){
								s += '<option value="' + result[i].roomid + '">' + result[i].numberRoom + '</option>';
								}
								$('#room').html(s);
							}				
						});
				});			
		});	
</script>

</head>
<body>


<h1> set up Schedule</h1>
<hr >
<div layout:fragment="content" class="offset-2 col-8">
		<div th:if="${message != null}">
			<h3 th:text="${message}"></h3>
		</div>
		<div>
			<form th:action="@{/schedules/saveOrUpdate}" method="post" th:object="${scheduleDto}">
				<div th:if="*{scheduleid > 0}" class="form-group">
					<label for="scheduleid">Schedule Id:</label>
					<input th:field="*{scheduleid}" placeholder="Schedule Id" class="form-control">
				</div>
				<div class="form-group">
					<label for="theater">Select movie theater (select one)</label>
										<select id="theater" class="form-control" >
												<option th:each="theaters :${theaters}"
													th:value="${theaters.theaterid}"
													th:text="${theaters.Name}"									
													>--Chon rap--</option>
										</select>
				</div>
				<div class="form-group">
					<label for="room">Select room: </label>
								<select th:field="*{room}" id="room" class="form-control">
									<option value="">Please Select Movie Theater</option>																													
								</select>
				</div>
				<div class="form-group">
						<label for="movie">Select Movie: </label>
						<select th:field="*{movie}" class="form-control">
							<option th:each="movies :${moviesCurrent}"	th:value="${movies.movieid}"
								th:text="${movies.moviename}"									
							></option>
						</select>
				</div>
				<div class="form-group">
						<label for="date">Select Date (dd/MM/YY))</label>
				 		<input type="text" th:field="*{date}" class="form-control">
				</div>
				<div class="form-group">
						<label for="time">Select Time Schedule</label>
						<select th:field="*{time}" class="form-control">
							<option value="08:00:00">08:00</option>
							<option value="14:00:00">14:00</option>
							<option value="16:00:00">16:00</option>									
							<option value="19:00:00">19:00</option>									
							<option value="21:00:00">21:00</option>									
						</select>
				</div>

			 	
			<input type="submit" value="Add" th:if="*{scheduleid <= 0}" class="btn btn-primary" /><br>
			<input type="submit" value="Update" th:if="*{scheduleid > 0}" class="btn btn-primary"/><br>
			
			</form>		
			<a th:href="@{/schedules/add}" class="btn btn-primary">New</a> |
			<a th:href="@{/schedules/list}" class="btn btn-secondary">List Schedule</a>
		</div>

</div>






</body>
</html>