<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			 layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="ISO-8859-1">
<title>hello add or edit rap phim</title>
</head>
<body>

<div layout:fragment="content" class="offset-2 col-8">
		<div th:if="${message != null}">
			<span th:text="${message}"></span>
		</div>
		
			<form th:action="@{/theater/saveOrUpdate}" th:object="${theaterDto}" method="post">
			<div th:if="*{theaterid > 0}" class="form-group">
				<label for="theaterid">Theater ID: </label> 
				<input th:field="*{theaterid}" placeholder="Theater ID"
					class="form-control">
			</div>
			<div class="form-group">
				<label for="Name">Name Movie Theater: </label> 
				<input type="text" th:field="*{Name}" placeholder="ten rap phim" class="form-control">

			</div>
			<div class="form-group">
				<label for="Address">Address: </label> 
				<input type="text" th:field="*{Address}" placeholder="dia chi" class="form-control">

			</div>
			<div class="form-group">
				<label for="phoneNumber">PhoneNumber:</label> 
				<input type="text" th:field="*{phoneNumber}" placeholder="hotline rap phim"
					class="form-control">

			</div>
			<div class="form-group">
				<label for="Manager">Name Manager:</label> 
				<input type="text" th:field="*{Manager}" placeholder="ten nguoi quan li" class="form-control">
			</div>

			<input type="submit" value="Add" th:if="*{theaterid <=0}" class="btn btn-primary" ><br>
			<input type="submit" value="Edit" th:if="*{theaterid > 0}" class="btn btn-primary"><br>	
				
				<a th:href="@{/theater/add}" class="btn btn-primary">New Theater</a> ||
				<a th:href="@{/theater/list}" class="btn btn-secondary">List theater</a>
			
			</form>

</div>



</body>
</html>