<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  	 layout:decorate="~{layouts/client.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
input:hover, label:hover {
cursor: pointer;
}
</style>
</head>
<body>

<div layout:fragment="content">

	<div style="text-align: center;display: flex;justify-content: center;border-bottom: 2px solid black;">
		<table class="table table-bordered" style="margin: 20px;">					
						<tr>
								<th>Movie</th>
								<td th:text="${schedule.movie.moviename}"></td>
						</tr>
						<tr>
								<th>Room</th>
								<td th:text="${schedule.room.numberRoom}"></td>
						</tr>
						<tr>
						<th>Seat</th>
							<td><div th:each= "item : ${Listseat}" style="margin-left: 10px;">
								<span th:text="${item.rowseat + item.columnseat}"></span>
							</div></td>
						</tr>
				
						<tr>
								<th>Theater</th>
								<td th:text="${schedule.room.theater.Name}"></td>
						</tr>
						<tr>
								<th>Total</th>
								<td th:text="${cost}"></td>
						</tr>													
				</table>		

	</div>


		<div>
				<div style="marin-left=30px;display: flex;justify-content: center;">
						<div style="margin: 20px; padding: 0px;"><h5>Vui lòng chọn phương thức thanh toán</h5></div>
						<div style="margin: 20px;">                  
		                        <input id="MOMO" type="radio" name="payment" value="MOMO" data-type="third-party"><label style="margin-left: 10px;" for="MOMO"><img class="icon" width="28" src="https://payment.momo.vn/gw_payment/faces/javax.faces.resource/material/img/logo-1.png"> Momo</label> <br>
		                    
		                        <input id="ZaloPay" type="radio" name="payment" value="ZaloPay" data-type="third-party"><label style="margin-left: 10px;"for="ZaloPay"><img class="icon" width="30" src="http://booking.bhdstar.vn/it-CDN/Themes/pay/zalo-icon.png"> ZaloPay</label><br>
		                    
		                        <input id="NAPAS" type="radio" name="payment" value="NAPAS" data-type="third-party"><label style="margin-left: 10px;" for="NAPAS"><img class="icon" width="28" src="https://payment.napas.com.vn/gateway/images/favicon.ico"> Napas (ATM - Visa - Master Card - ...)</label><br>
		                    
		   		    	 </div>
		   		    	 <div style="margin: 20px;">
								<form th:action="@{'/getseat/' + ${schedule.scheduleid} + '/booking'}" th:object="${bookingDto}" method="post">
									<input type="hidden" th:field="*{bookingid}" placeholder="Theater ID">		
									<div  th:each="seatid : ${Listseat}" >
										<input type="hidden" name="seatid" th:value="${seatid.seatid}" >
									</div>
									<button type="submit" class="btn btn-success">Thanh Toan</button>
							</form>
								
						</div>
				</div>
				
		</div>
			
<script type="text/javascript">
$("#MOMO").prop("checked", true);
</script>
			
</div>
</body>
</html>